#topBar
{
    margin-top: 2%; 
    margin-bottom: 2%;
}

.box-picto-nav
{
    padding: 0;
    font-size: 2em;
}

#box-picto-logout
{
    text-align: right;
}

.nav-link.active, .nav.nav-tabs, .nav-tabs
{
    border-color: #71213C !important;
}

body, a
{
    color: #161C40;
    font-family: 'Economica', sans-serif;
}

.nav-item
{    
    font-size: 1.1em;
    padding-left : 0;
}

#myTabContent, .rechercherFormulaire
{
    padding: 5% !important;
}

.nav-link.active, .form-submit:hover
{
    background-color: #161C40 !important;
    color : white !important;
    font-size: 1.3em;
}

.card
{
    background: #161C40;
    color: #FFF;
    font-size: 1.1em;
    text-align: center;
    margin: 1.65%;
    
}

.form-submit
{
    background: #161C40;
    color: #FFF;
    font-size: 1.1em;
}

.resultat-options
{
    padding-top: 5%;
    margin-top: 5%;
    margin-bottom: -5%;
    border-top: 1px white solid;
}

.resultat-lien, .resultat-lien:hover
{
    color: white;       
    background-color: transparent;
}

.resultat-lien:hover
{
    font-size: 1.3em;
}

.alert
{
    width: auto;
}

.modal-alert
{
    color: red;
}

.modal-body
{
    color: #161C40 !important;
}