<div class="modal fade" id="modalModifier" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title modal-alert" id="modalLabel"><i class="fas fa-edit"></i> Modifier la bouteille {{ bouteille.id }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% include 'bouteille/form.html.twig' %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <a href="{{ path("modifier_bouteille", {"idBouteille": bouteille.id}) }}" type="button" class="btn btn-primary form-submit">Modifier</a>
            </div>
        </div>
    </div>
</div>